.sidebar-menu {
  position: fixed;
  background-color: #387d4c;
  width: 200px;
  height: 91.05vh;
  display: flex;
  justify-content: center;
  transition: 850ms;
  margin: 0;
}

.sidebar-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.sidebar-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.sidebar-text a:hover {
  background-color: white;
  color: #387d4c;
}

a.sideActive {
  background-color: white;
  color: #387d4c;
}

.sidebar-menu-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

span {
  margin-left: 16px;
}
