.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: gainsboro;

  h3 {
    font-size: 24px;
  }
}
