.add-category {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  &-content {
    width: 45%;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    border-radius: 0.5rem;
    h1 {
      color: #51b36d;
      margin-bottom: 20px;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #464646;

      & .control {
        width: 100%;

        label {
          font-size: 18px;
        }
      }
    }
  }
}
