.add-kulfi {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  &-content {
    width: 45%;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 0.5rem;
    h1 {
      color: #51b36d;
      margin-bottom: 20px;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #464646;

      & .control {
        width: 100%;

        label {
          font-size: 18px;
        }
      }

      & .kulfi-image {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;

        label {
          flex: 1;
          font-size: 18px;
          font-weight: bold;
        }

        & .uploadBtn {
          cursor: pointer;
          flex: 3;
          svg {
            color: blue;
            height: 24px;
            width: 24px;
          }
        }

        & .img-invalid {
          svg {
            color: #ff8182;
          }
        }

        & .img-div {
          flex: 3;

          img {
            width: 200px;
            height: 120px;
          }

          svg {
            color: red;
            position: relative;
            left: -16px;
            top: -104px;
            background-color: white;
          }
        }
      }

      & .kulfi-category {
        display: flex;
        color: #464646;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 16px 0;
        label {
          font-size: 18px;
          font-weight: bold;
          flex: 1;
        }

        & .category-input-div {
          flex: 3;
          div:first-child {
            border-radius: 5px;
          }
        }

        & .cat-invalid > div:first-child {
          border: 1px solid rgb(255, 129, 130);
        }
      }
    }
  }
}
